@import 'normalize.css';
body {
    margin: 0;
    font-family: var(--font-family-base);

    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    background-image: url('./background_right.svg'),url(./background_left.svg);
    background-repeat: repeat-y, repeat-y;
    background-position: right center, left center;
    background-size: 20vw 1308px; /* or 'contain' */
}
.container {
    max-width: calc(var(--container-padding-x)*2 + var(--container-width));
    margin-inline: auto;  /*for centering*/

    padding-inline: var(--container-padding-x);
}
a {
    color: inherit;
    text-decoration-line: none;
}
a,
button,
textarea,
input {
    transition-duration: var(--transition-duration);
}
a:hover {
    color: var(--gray-hover-link);
}
* {
    box-sizing: border-box;  
}

:root {
    --main-bg-color: #91369F;
    --main-font-color: #FFFFFF;
    --dark-purple: #682D66;
    --gray-hover-link: #BCBAB4;
    --black: #000000;
    --white: #ffffff;
    --brown: #FFE0AF;

    --font-family-base: 'Homer-Simpson';

    --container-width: 1116px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

}
@font-face {
    font-family: Homer-Simpson;
    src: url(./fonts/Homer_Simpson.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}